.second {
  color: #2f5687;
  font-style: italic;
}

.proje {
  color: red;
  font-style: italic;
}

.special {
  color: red;
}

.ucuncu {
  color: black;
  font-style: italic;
}

.dorduncu {
  color: maroon;
  font-style: italic;
}
